<?xml version="1.0" encoding="utf-8"?>
<module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:rhena:module" xmlns:prop="urn:rhena:properties" xmlns:dependency="urn:rhena:dependency"
	xsi:schemaLocation="urn:rhena:module ../../../schema/module.xsd" extends="component2:module1:0.0.1">

	<meta component="component1" version="0.0.1" lifecycle="component2:module1:0.0.1" />

	<prop:someprop>somevalue</prop:someprop>
	<prop:anotherprop>anothervalue</prop:anotherprop>

	<dependency:test module="component2:module1:0.0.1" />

</module>
