<?xml version="1.0" encoding="utf-8"?>
<module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:rhena:module" xmlns:dependency="urn:rhena:dependency"
	xsi:schemaLocation="urn:rhena:module http://schema.unnsvc.com/rhena/module.xsd" extends="component2:module1:0.0.1">

	<meta component="component1" version="0.0.1" lifecycle="component2:module1:0.0.1">

		<properties>
			<someprop>somevalue</someprop>
			<anotherprop>anothervalue</anotherprop>
		</properties>

	</meta>

	<dependency:compile module="component2:module1:0.0.1" />
	<dependency:test module="component2:module1:0.0.1" />

</module>



<!-- <lifecycles> -->
<!-- <test> -->
<!-- <sourcePaths> -->
<!-- <sourcePath>src/test/java</sourcePath> -->
<!-- </sourcePaths> -->
<!-- <targetPath>some/target/path</targetPath> -->
<!-- </test> -->
<!-- </lifecycles> -->
		