<?xml version="1.0" encoding="utf-8"?>
<module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:rhena:module" xmlns:dependency="urn:rhena:dependency"
	xsi:schemaLocation="urn:rhena:module http://schema.unnsvc.com/rhena/module.xsd" extends="component2:module1:0.0.1">

	<meta component="component1" version="0.0.1" lifecycle="customLifecycle">
		<properties>
			<someprop>somevalue</someprop>
			<anotherprop>anothervalue</anotherprop>
		</properties>

		<!-- Lifecycle becomes composable by aggregating processors and blocks from different sources -->
		<!-- Lifecycle is designed so that once all of its building blocks have been instantiated, they remain cached in the runtime -->
		<lifecycle name="customLifecycle">
			<!-- implementations of an IProcessor -->
			<processor module="component2:module1:0.0.1" type="com.some.Processor">
				<someElementConfiguration xmlns="component2:module1:0.0.1" />
			</processor>
			<processor module="component2:module1:0.0.1" type="com.another.Processor" />
			<!-- implementations of an IGenerator to generate the actual artifact -->
			<generator module="component2:module1:0.0.1" type="com.some.Generator" />
		</lifecycle>
	</meta>

	<dependency:compile module="component2:module1:0.0.1" />
	<dependency:test module="component2:module1:0.0.1" />

</module>




<!-- <lifecycles> -->
<!-- <test> -->
<!-- <sourcePaths> -->
<!-- <sourcePath>src/test/java</sourcePath> -->
<!-- </sourcePaths> -->
<!-- <targetPath>some/target/path</targetPath> -->
<!-- </test> -->
<!-- </lifecycles> -->
		