<?xml version="1.0" encoding="utf-8"?>
<module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="urn:rhena:module" xmlns:prop="urn:rhena:properties" xmlns:dependency="urn:rhena:dependency"
	xsi:schemaLocation="urn:rhena:module http://schema.unnsvc.com/rhena/module.xsd" extends="com.unnsvc:rhena:0.0.1">

	<meta component="com.unnsvc.rhena" version="0.0.1">

	</meta>

	<!-- simulate cycle -->
<!-- 	<dependency:deliverable module="com.unnsvc.rhena:lifecycle:0.0.1" /> -->

</module>
